.country_item {
  .country-image {
    position: relative;
    padding-bottom: 51%;
    background: #d7d3d37a;
    border-radius: 6px 6px 0 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
      opacity: 1;
    }
    &.dark-mode{
      background: #37383e;
    }
  }
  .country_content {
    background: #fff;
    padding: 30px 20px 50px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    .country-name span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
    .country-population {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      padding-top: 15px;
    }
    .country-region {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      padding-top: 6px;
    }
    &.dark-mode{
      background: #2b3743;
      color: #fff;
      .country-name span {
        color: #fff !important;
      }
    }
  }
}
