.dropdown-container{
    width: 100%;
    position: relative;
    .dropdown-title{
        background: #fff;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
        min-height: 55px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
        &.dark-mode{
            background: #2b3743;
            color: #fff;
        }
    }
    .dropdown-wrapper{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
        z-index: 9999;
        border-radius: 6px;
        padding: 20px 30px;
        .dropdown-item{
            cursor: pointer;
            &:not(:last-child){
                padding-bottom: 8px;
            }
        }
        &.dark-mode{
            background: #2b3743;
            color: #fff;
        }
    }
}